<div>
    <div class="card-group__container">
        <div class="card__line">
            <div class="f__display_1">Последние презентации</div>
        </div>
    </div>

    <div class="card__container">
        <div class="card-pin level__2">
            <div class="card-pin__preview">
                <a href="#">
                    <span class="card-pin__play mdi mdi-play-circle-outline"></span>
                    <span class="card-pin__time">15:45</span>
                    <img class="card-pin__img" src="images/card-pin__img.png">
                </a>
            </div>
            <div class="card-pin__body">
                <div class="f__subhead_1">
                    Бугульминский Казанско-Богородицкий
                    монастырь — женский монастырь
                    Самарской епархии Русской православной
                    церкви
                </div>
                <div class="card-pin__ctrl">
                    <div class="card-pin__ctrl_left">
                        <img class="card-pin__user_pic" src="images/user_pic.png">
                        <a href="#">
                            <div class="card-pin__name">Данияр Симеонович</div>
                        </a>
                    </div>
                    <div class="card-pin__ctrl_right">
                        <div class="card-pin__views">
                            <div class="btn-icon btn-icon__small mdi mdi-eye"></div><span class="card-pin__value">555</span>
                        </div>
                        <div class="card-pin__likes">
                            <div class="btn-icon btn-icon__small mdi mdi-heart"></div><span class="card-pin__value">13</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-pin level__2">
            <div class="card-pin__preview">
                <a href="#">
                    <span class="card-pin__play mdi mdi-play-circle-outline"></span>
                    <img class="card-pin__img" src="images/card-pin__img1.png">
                </a>
                <a href="#" class="card-pin__price">
                    <span class="card-pin__time">30:03</span>
                    <span>500</span><span class="card-pin__rub icon icon-ic-rub"></span>
                </a>
            </div>
            <div class="card-pin__body">
                <div class="f__subhead_1">
                    Странствующий монах собрал настоящую
                    сокровищницу книжной премудрости
                </div>
                <div class="card-pin__ctrl">
                    <div class="card-pin__ctrl_left">
                        <img class="card-pin__user_pic" src="images/user_pic.png">
                        <a href="#">
                            <div class="card-pin__name">Данияр Симеонович</div>
                        </a>
                    </div>
                    <div class="card-pin__ctrl_right">
                        <div class="card-pin__views">
                            <div class="btn-icon btn-icon__small mdi mdi-eye"></div><span class="card-pin__value">555</span>
                        </div>
                        <div class="card-pin__likes">
                            <div class="btn-icon btn-icon__small mdi mdi-heart"></div><span class="card-pin__value">13</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-pin level__2">
            <div class="card-pin__preview">
                <a href="#">
                    <span class="card-pin__play mdi mdi-play-circle-outline"></span>
                    <span class="card-pin__time">15:45</span>
                    <img class="card-pin__img" src="images/card-pin__img2.png">
                </a>
            </div>
            <div class="card-pin__body">
                <div class="f__subhead_1">
                    Был создан и существовал на
                    пожертвования меценатов. В 1931 году был
                    закрыт Советской властью
                </div>
                <div class="card-pin__ctrl">
                    <div class="card-pin__ctrl_left">
                        <img class="card-pin__user_pic" src="images/user_pic.png">
                        <a href="#">
                            <div class="card-pin__name">Данияр Симеонович</div>
                        </a>
                    </div>
                    <div class="card-pin__ctrl_right">
                        <div class="card-pin__views">
                            <div class="btn-icon btn-icon__small mdi mdi-eye"></div><span class="card-pin__value">555</span>
                        </div>
                        <div class="card-pin__likes">
                            <div class="btn-icon btn-icon__small mdi mdi-heart"></div><span class="card-pin__value">13</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>