<div>
    <div class="card-group__container">
        <div class="card__line">
            <div class="f__display_1">Будущие мероприятия</div>
        </div>
    </div>

    <div class="card-group__container">
        <div class="card-group level__2">
            <div class="card-group__item">
                <div class="card-group__preview">
                    <img class="card-group__img" src="images/card-pin__img1.png">
                </div>
                <div class="card-group__body">
                    <div class="card-group__text">
                        <div class="f__headline">
                            Странствующий монах собрал настоящую
                            сокровищницу книжной премудрости
                        </div>
                        <div>
                            В 1865 году удельный крестьянин села Михайловка Богоявленской волости
                            Бугульминского уезда Самарской губернии Тимофей Арзамасцев добился
                            исполнения своего желания — открытия мужского Бугульминского
                            Александро-Невского монастыря на пожертвованной крестьянским
                            обществом земле.
                        </div>
                    </div>
                    <div class="card-group__data">
                        <div class="h-menu__grid h-menu__user   ">
                            <div class="h-menu__grid_pic">
                                <a href="#"><img src="images/user_pic.png"></a>
                            </div>
                            <a href="#" class="h-menu__grid_text">
                                <span>Данияр Симеонович</span>
                            </a>
                        </div>
                        <div class="h-menu__grid">
                            <div class="h-menu__grid_pic h-menu__icon mdi mdi-timetable"></div>
                            <div class="h-menu__grid_text">
                                <span>1 Января  2015, 17:40 - 20:40</span>
                            </div>
                        </div>
                        <div class="h-menu__grid">
                            <div class="h-menu__grid_pic h-menu__icon icon icon-ic-rub"></div>
                            <div class="h-menu__grid_text">
                                <span>500 руб.</span>
                            </div>
                        </div>
                        <div class="h-menu__grid">
                            <div class="h-menu__grid_pic h-menu__icon mdi mdi-account-multiple"></div>
                            <div class="h-menu__grid_text">
                                <span>Свободных мест 3/10</span>
                            </div>
                        </div>
                        <div class="card-group__ctrl">
                            <button class="btn btn__small">Записаться</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-group__item">
                <div class="card-group__preview">
                    <img class="card-group__img" src="images/card-pin__img3.png">
                </div>
                <div class="card-group__body">
                    <div class="card-group__text">
                        <div class="f__headline">
                            Тупорылая акула или серая бычья акула,
                            или акула-бык (лат. Carcharhinus leucas)
                        </div>
                        <div>
                            Обитают в тропических и субтропических водах всех океанов. Толерантны
                            к широкому диапазону солёности воды.
                        </div>
                    </div>
                    <div class="card-group__data">
                        <div class="h-menu__grid h-menu__user">
                            <div class="h-menu__grid_pic">
                                <a href="#"><img src="images/synopsis__user_pic3.png"></a>
                            </div>
                            <a href="#" class="h-menu__grid_text">
                                <span>Инесса Созоновна</span>
                            </a>
                        </div>
                        <div class="h-menu__grid">
                            <div class="h-menu__grid_pic h-menu__icon mdi mdi-timetable"></div>
                            <div class="h-menu__grid_text">
                                <span>6 Января  2015, 14:00 - 17:00</span>
                            </div>
                        </div>
                        <div class="h-menu__grid">
                            <div class="h-menu__grid_pic h-menu__icon icon icon-ic-rub"></div>
                            <div class="h-menu__grid_text">
                                <span class="green-soft">Бесплатно</span>
                            </div>
                        </div>
                        <div class="h-menu__grid">
                            <div class="h-menu__grid_pic h-menu__icon mdi mdi-account-multiple"></div>
                            <div class="h-menu__grid_text">
                                <span>Свободных мест 1/55</span>
                            </div>
                        </div>
                        <div class="card-group__ctrl">
                            <button class="btn btn__small btn__disable" disabled>Вы записаны</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>