<div class="h-header">
    <div class="h-header__left">
        <a href="#" class="h-header__logo">
            <img src="/images/h-header__logo_img.png">
        </a>
        <button class="h-header__btn mdi mdi-dots-vertical" ng-click="contextMenu = !contextMenu"></button>
        <div class="menu level__1" ng-show="contextMenu" ng-click="contextMenu = !contextMenu">
            <a href="#" class="menu__item">Расписание</a>
            <a href="#" class="menu__item">Презентации</a>
            <a href="#" class="menu__item">О проекте</a>
            <a href="#" class="menu__item">Найти</a>
        </div>
        <a href="#" class="h-header__a" ng-class="{'h-header__a_selected': select === 1}" ng-click="select = 1">Расписание</a>
        <a href="#" class="h-header__a" ng-class="{'h-header__a_selected': select === 2}" ng-click="select = 2">Презентации</a>
        <a href="#" class="h-header__a" ng-class="{'h-header__a_selected': select === 3}" ng-click="select = 3">О проекте</a>
        <input class="h-header__input" placeholder="НАЙТИ">
    </div>
</div>