<table role="grid" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
  <thead>
    <tr>
      <th><button type="button" class="btn-icon btn-icon__medium mdi mdi-chevron-left" ng-click="move(-1)" tabindex="-1"></button></th>
      <th colspan="3"><span id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="calendar__btn_txt" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1" style="width:100%;">{{title}}</span></th>
      <th><button type="button" class="btn-icon btn-icon__medium mdi mdi-chevron-right" ng-click="move(1)" tabindex="-1"></button></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rows track by $index">
      <td ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{::dt.uid}}">
        <button type="button" class="calendar__btn_month" ng-class="{'btn-info': dt.selected, active: isActive(dt), 'text-info': dt.current}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1">
          {{::dt.label}}
        </button>
      </td>
    </tr>
  </tbody>
</table>
